.elementor-936 .elementor-element.elementor-element-ac8891c > .elementor-container{max-width:1140px;}.elementor-936 .elementor-element.elementor-element-ac8891c{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-4a1f97e > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-936 .elementor-element.elementor-element-4a1f97e > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-936 .elementor-element.elementor-element-4a1f97e > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-a5b3107{text-align:left;}.elementor-936 .elementor-element.elementor-element-a5b3107 img{width:175px;}.elementor-936 .elementor-element.elementor-element-a5b3107 > .elementor-widget-container{margin:20px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-81bded4 .elementor-heading-title{color:var( --e-global-color-2d3ae4e );font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:16px;}.elementor-936 .elementor-element.elementor-element-81bded4 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-e780644{width:100%;max-width:100%;}.elementor-936 .elementor-element.elementor-element-96ea26b:not(.elementor-motion-effects-element-type-background), .elementor-936 .elementor-element.elementor-element-96ea26b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-2d3ae4e );}.elementor-936 .elementor-element.elementor-element-96ea26b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-936 .elementor-element.elementor-element-96ea26b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-936 .elementor-element.elementor-element-866ee4e > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-936 .elementor-element.elementor-element-866ee4e > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-936 .elementor-element.elementor-element-866ee4e > .elementor-element-populated > .elementor-widget-wrap{padding:10px 20px 10px 20px;}.elementor-936 .elementor-element.elementor-element-04abd95 .elementor-heading-title{color:var( --e-global-color-0ac9287 );font-family:"Open Sans", Sans-serif;font-size:14px;font-weight:400;}.elementor-936 .elementor-element.elementor-element-96686a5 > .elementor-container{min-height:400px;}.elementor-936 .elementor-element.elementor-element-96686a5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:32px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-96686a5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-936 .elementor-element.elementor-element-b763c70 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-936 .elementor-element.elementor-element-b763c70 > .elementor-element-populated{margin:0px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;}.elementor-936 .elementor-element.elementor-element-b763c70 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-936 .elementor-element.elementor-element-27d4385.elementor-column .elementor-column-wrap{align-items:center;}.elementor-936 .elementor-element.elementor-element-27d4385.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-936 .elementor-element.elementor-element-27d4385 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-936 .elementor-element.elementor-element-27d4385 > .elementor-element-populated{margin:0px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;}.elementor-936 .elementor-element.elementor-element-27d4385 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-fabb262 > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-936 .elementor-element.elementor-element-47340fe img{width:73%;}.elementor-936 .elementor-element.elementor-element-24e2bfe > .elementor-widget-container{margin:50px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-9985b8e > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-936 .elementor-element.elementor-element-9985b8e > .elementor-element-populated{margin:0px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;}.elementor-936 .elementor-element.elementor-element-9985b8e > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-8d55eb6 > .elementor-container{max-width:1140px;}.elementor-936 .elementor-element.elementor-element-8d55eb6{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-50af8f9 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-936 .elementor-element.elementor-element-50af8f9 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-936 .elementor-element.elementor-element-50af8f9 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-04408df{text-align:left;}.elementor-936 .elementor-element.elementor-element-04408df img{width:175px;}.elementor-936 .elementor-element.elementor-element-04408df > .elementor-widget-container{margin:20px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-2acf959:not(.elementor-motion-effects-element-type-background), .elementor-936 .elementor-element.elementor-element-2acf959 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-2d3ae4e );}.elementor-936 .elementor-element.elementor-element-2acf959{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-936 .elementor-element.elementor-element-2acf959 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-936 .elementor-element.elementor-element-061d2c3 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-936 .elementor-element.elementor-element-061d2c3 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-936 .elementor-element.elementor-element-061d2c3 > .elementor-element-populated > .elementor-widget-wrap{padding:10px 20px 10px 20px;}.elementor-936 .elementor-element.elementor-element-fd8f21a .elementor-heading-title{color:var( --e-global-color-0ac9287 );font-family:"Open Sans", Sans-serif;font-size:14px;font-weight:400;}.elementor-936 .elementor-element.elementor-element-dd57c64 > .elementor-container{min-height:400px;}.elementor-936 .elementor-element.elementor-element-dd57c64{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:32px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-dd57c64 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-936 .elementor-element.elementor-element-3a3eda3 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-936 .elementor-element.elementor-element-3a3eda3 > .elementor-element-populated{margin:0px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;}.elementor-936 .elementor-element.elementor-element-3a3eda3 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-936 .elementor-element.elementor-element-3a2c5fb.elementor-column .elementor-column-wrap{align-items:center;}.elementor-936 .elementor-element.elementor-element-3a2c5fb.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-936 .elementor-element.elementor-element-3a2c5fb > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-936 .elementor-element.elementor-element-3a2c5fb > .elementor-element-populated{margin:0px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;}.elementor-936 .elementor-element.elementor-element-3a2c5fb > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-d29371a > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-936 .elementor-element.elementor-element-721e2d3 img{width:73%;}.elementor-936 .elementor-element.elementor-element-e8c3389 > .elementor-widget-container{margin:50px 0px 0px 0px;}.elementor-936 .elementor-element.elementor-element-cebc80a > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-936 .elementor-element.elementor-element-cebc80a > .elementor-element-populated{margin:0px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;}.elementor-936 .elementor-element.elementor-element-cebc80a > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}@media(max-width:767px){.elementor-936 .elementor-element.elementor-element-04408df{text-align:center;}.elementor-936 .elementor-element.elementor-element-04408df img{width:41px;}.elementor-936 .elementor-element.elementor-element-2acf959{margin-top:20px;margin-bottom:0px;}.elementor-936 .elementor-element.elementor-element-fd8f21a{text-align:center;}.elementor-936 .elementor-element.elementor-element-dd57c64{padding:0px 15px 0px 15px;}}@media(min-width:768px){.elementor-936 .elementor-element.elementor-element-4a1f97e{width:37.544%;}.elementor-936 .elementor-element.elementor-element-1a8d527{width:62.456%;}.elementor-936 .elementor-element.elementor-element-b763c70{width:20%;}.elementor-936 .elementor-element.elementor-element-27d4385{width:59.332%;}.elementor-936 .elementor-element.elementor-element-9985b8e{width:20%;}.elementor-936 .elementor-element.elementor-element-50af8f9{width:37.544%;}.elementor-936 .elementor-element.elementor-element-304433e{width:62.456%;}.elementor-936 .elementor-element.elementor-element-3a3eda3{width:20%;}.elementor-936 .elementor-element.elementor-element-3a2c5fb{width:59.332%;}.elementor-936 .elementor-element.elementor-element-cebc80a{width:20%;}}/* Start custom CSS for html, class: .elementor-element-e780644 */* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-size:cover;
	color:#2c2a29;
	font-size: 11px;
	font-weight: 500;
	font-family: "Open Sans", Sans-serif;
}

.wrap {
	width: 90%;
	max-width: 1000px;
}

.widget {
	width: 100%;
}

.widget p {
	display: inline-block;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size:1.5em;
	/*margin-bottom: 5px;*/
	padding: 0px;
	width: 100%;
}

.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 0px;
	font-size: 11px;
	text-align: left;
	margin-top: 15px
}

.reloj .segundos,
.reloj .ampm {
	font-size: 11px;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-04abd95 */.elementor-936 .elementor-element.elementor-element-04abd95{
    font-family: 'Public Sans', sans-serif;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-fabb262 */#parrafo3{
    color: #7A7A7A;
    text-align: center;
    font-size: 20px
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-47340fe */.logo {
 
  animation: reboteOut 3s infinite;
 
}

/* Creamos la animación (con keyframes) */

@keyframes reboteOut {
 
  25% {
    
    transform: scale(0.9);
  }
  
  50% {
     opacity: 1;
     transform: scale(1.1);
  }

  100% {
    
     transform: scale(0.0);
     opacity: 0;
    
  }

}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-24e2bfe */.btnLoader {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: inherit;
	width: 100%;
}
.btnLoader span {
  --dot1: #2c2a29;
  --dot2: #788c9f33;
  --dot3: #788c9f66;
  --dot4: #788c9fb3;
  --duration: 1700ms;
  --easing: linear;
  --delay: 1ms;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.btnLoader span:nth-child(1) {
  background-color: var(--dot1);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash1;
}
.btnLoader span:nth-child(2) {
  background-color: var(--dot2);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash2;
}
.btnLoader span:nth-child(3) {
  background-color: var(--dot3);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash3;
}
.btnLoader span:nth-child(4) {
  background-color: var(--dot4);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash4;
}

@keyframes flash1 {
  0%, 100% { background-color: var(--dot1) }
  25% { background-color: var(--dot2) }
  50% { background-color: var(--dot3) }
  75% { background-color: var(--dot4) }
}
@keyframes flash2 {
  0%, 100% { background-color: var(--dot4) }
  25% { background-color: var(--dot1) }
  50% { background-color: var(--dot2) }
  75% { background-color: var(--dot3) }
}
@keyframes flash3 {
  0%, 100% { background-color: var(--dot3) }
  25% { background-color: var(--dot4) }
  50% { background-color: var(--dot1) }
  75% { background-color: var(--dot2) }
}
@keyframes flash4 {
  0%, 100% { background-color: var(--dot2) }
  25% { background-color: var(--dot3) }
  50% { background-color: var(--dot4) }
  75% { background-color: var(--dot1) }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-ac8891c */@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-fd8f21a */.elementor-936 .elementor-element.elementor-element-fd8f21a{
    font-family: 'Public Sans', sans-serif;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-d29371a */#parrafo3m{
    color: #7A7A7A;
    text-align: center;
    font-size: 16px
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-721e2d3 */.logo {
 
  animation: reboteOut 3s infinite;
 
}

/* Creamos la animación (con keyframes) */

@keyframes reboteOut {
 
  25% {
    
    transform: scale(0.9);
  }
  
  50% {
     opacity: 1;
     transform: scale(1.1);
  }

  100% {
    
     transform: scale(0.0);
     opacity: 0;
    
  }

}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-e8c3389 */.btnLoader {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: inherit;
	width: 100%;
}
.btnLoader span {
  --dot1: #2c2a29;
  --dot2: #788c9f33;
  --dot3: #788c9f66;
  --dot4: #788c9fb3;
  --duration: 1700ms;
  --easing: linear;
  --delay: 1ms;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.btnLoader span:nth-child(1) {
  background-color: var(--dot1);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash1;
}
.btnLoader span:nth-child(2) {
  background-color: var(--dot2);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash2;
}
.btnLoader span:nth-child(3) {
  background-color: var(--dot3);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash3;
}
.btnLoader span:nth-child(4) {
  background-color: var(--dot4);
  animation: var(--duration) var(--easing) var(--delay) infinite normal flash4;
}

@keyframes flash1 {
  0%, 100% { background-color: var(--dot1) }
  25% { background-color: var(--dot2) }
  50% { background-color: var(--dot3) }
  75% { background-color: var(--dot4) }
}
@keyframes flash2 {
  0%, 100% { background-color: var(--dot4) }
  25% { background-color: var(--dot1) }
  50% { background-color: var(--dot2) }
  75% { background-color: var(--dot3) }
}
@keyframes flash3 {
  0%, 100% { background-color: var(--dot3) }
  25% { background-color: var(--dot4) }
  50% { background-color: var(--dot1) }
  75% { background-color: var(--dot2) }
}
@keyframes flash4 {
  0%, 100% { background-color: var(--dot2) }
  25% { background-color: var(--dot3) }
  50% { background-color: var(--dot4) }
  75% { background-color: var(--dot1) }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-dd57c64 */.elementor-936 .elementor-element.elementor-element-3a2c5fb.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
    margin-right: 0px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-8d55eb6 */@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');/* End custom CSS */